@model AssignmentDemo.DAL.User

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(s => s.ReturnURL)*@

        <h1>Login Functionality In MVC</h1>
        <div>

            @if (TempData["ErrorMSG"] != null)
            {
                <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
                <br /><br />
            }

            @Html.TextBoxFor(s => s.Username, new { @placeholder = "Username" })
            <br /> <br />
            @Html.PasswordFor(s => s.Password, new { @placeholder = "Password" })
            @*<br /> <br />
            @Html.CheckBoxFor(s => s.isRemember) Remember ME*@
            <br /> <br />
            <button type="submit">Login</button>
        </div>
    }
</body>
</html>
